html {
    scroll-behavior: smooth;
}

body {
    background-color: #852330;
    font-family: 'Livvic', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 15px;
}

#searchTxt {
    text-align: left;
    border: 3px solid black;
    background: #fff;
    border-radius: 10px;
    padding: 10px;
    font-size: 2em;
    height: 60px;
}

#searchTxt[type="search"] {
    flex: 100;
}

#searchTxt:focus,
#search:focus {
    outline: none;
}

#search {
    cursor: pointer;
    margin-left: 10px;
    width: 120px;
    height: 60px;
    border: 3px solid #000000;
    border-radius: 10px;
    background: #fff;
    font-size: 2em;
}

#search:hover {
    background: lightblue;
}

.movieInfo {
    position: absolute;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    float: right;
    top: 0;
    left: 0;
    padding: 5px;
    margin: 25px;
}

.movieInfo:hover {
    color: #000000;
}

.flex-grid-container {
    padding: 0;
    margin-top: 15px;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#movies {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.movie-poster {
    float: right;
    display: flex;
    flex-flow: row;
    flex: 4;
    min-width: 150px;
    height: 100%;
    border-radius: 5px;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    margin: 2%;
    padding: 0.5% 0.5% 0% 0.5%;
    cursor: pointer;
    text-align: center;
    position: relative;
    overflow: hidden;
}

img.scaled {
    width: 100%;
}

.movie-poster header {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    background: inherit;
    background-attachment: fixed;
    overflow: hidden;
}

.movie-poster header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25)
}

.movie-poster header h2 {
    margin: 0;
    color: #fff;
    position: relative;
    float: left;
    z-index: 1;
}

.movie-poster:hover {
    margin-left: 0 40px;
    transform: scale(1.2);
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

@media (max-width:630px) {
    #searchTxt {
        width: 50%;
    }
    #search {
        margin-top: 5px;
    }
    #movie img {
        display: none;
    }
    .movieInfo {
        display: none;
    }
}