html,
body {
    background-color: #852330;
}

.form-control {
    display: flex;
    width: 100%;
}

#input-search {
    height: 40px;
    border-radius: 5px;
    border: 2px solid #000;
    margin-top: 10px;
    margin-right: 5px;
    padding: 10px;
    font-size: 2em;
    background: #ffffff;
}